

<!-- Toque algo en bootstrap que hace que se vean feas las estrellas, asi que lo incluyo
de vuelta para que se vean lindas pisando la config que toque arriba :P 
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
-->
<hr>
<div class="row">
  <div class="col-md-4">
    <hr>  

  <div class="col-md-5">
      <h1 ><%= @advertising.name %></h1>
      <hr>
      <h4>Descripción</h4>
        <p><%= @advertising.description %></p>
      <h4>Dirección</h4> 
        <p><%= @advertising.address %></p>
      
      <h4>Precio</h4>
      <p> <span class="glyphicon glyphicon-usd"></span> 100 </p>
      <div class="basic" data-average="12" data-id="1"></div>

 </div>
   <hr>     

  

    </div>
  </div>


<%= link_to 'Edit', edit_advertising_path(@advertising) %> |
<%= link_to 'Back', advertisings_path %>

<%= javascript_tag do %>
<% end %>