

<!-- Toque algo en bootstrap que hace que se vean feas las estrellas, asi que lo incluyo
de vuelta para que se vean lindas pisando la config que toque arriba :P 
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
-->
<hr>
<div class="row">
  <div class="col-md-5">
     <%= image_tag @advertising.image , :size=>"300x300" %></a>  
  </div>
  <div class="col-md-6">
   
      <h1><%= @advertising.name %></h1>
      <hr>

      <p>
        <b>Descripción:</b> <%= @advertising.description %>
      </p>
      <p>
        <b>Dirección:</b> <%= @advertising.address %>
      </p>
      <p> <b>Precio:</b>
      <span class="glyphicon glyphicon-usd"></span> <%= @advertising.price %> </p>
       <br><br> 
      <button type="button" class="btn btn-success">Consultar</button>
 </div>
     
</div>


<%= javascript_tag do %>
<% end %>