<div class="row">
	<br>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
			   <b><%= @student.name %></b>
			</div>
			<div class="panel-body">
				<%= image_tag @student.image , :size=>"200x200", :style => "margin-bottom: 20px" %></a>
				<% if @student.birthdate %>
					<p><b>Fecha de nacimiento:</b> <%= @student.birthdate.strftime("%d/%m/%Y") %></p>
				<% end %>
			   <p><b>Email:</b> <%= @student.email %></p>
			   <p><b>Descripción:</b> <%= @student.description %></p>
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<h1>Cursos realizados</h1>
		<table class="table table-bordered table-hover table-condensed">
		  <thead class="courseList">
		    <tr>
		      <th>Nombre </th>
		      <th>Descripción </th>
		      <th class="text-center">Precio</th>
		      <th class="text-center">¿Está pago?</th>
		      <th class="text-center">Review</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @student.courses.each do |course| %>
		      <tr>
		        <td ><%= link_to course.name, "/courses/#{course.id}" %></td>
		        <td><%= course.description %></td>
		        <td class="text-center"><%= course.price %></td>
		        <% @cs = CourseStudent.where("student_id = #{@student.id} AND course_id = #{course.id}").first %>
		        <td class="text-center"><b><%= @cs.paid.nil? ? "No" : "Si" %></b></td>
		        <%  opinion = Opinion.where("course_id = ?", course.id).where("user_id = ?", @student.id).first %>

		        <% if opinion.nil? %>
		        	<td class="text-center"> <b> Pendiente</b> </td>
		        <% else %>
		        	<td class="text-center"> <b> <%= opinion.rating %></b></td>
		        <% end %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>

<div class="row">
<% %>
<% #if not @student.courses.empty? %>

<% #else %>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body" id ="cursosRelacionados">
				<h4>Cursos populares </h4>
				<div class="list-group container-results" id="cursosRelacionados">
					<% @populares.each do |c| %>
					<a id="curso_<%= c.id %>" href="/courses/<%= c.id %>" class= "list-group-item ">
					<h4 class= "list-group-item-heading "><%= c.name %><button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-usd"></span> <%= c.price %></button></h4>
					<p class="list-group-item-text"><%= c.description %></p>
					<p class="list-group-item-text"><%= c.address %></p>
					<p class="list-group-item-text">
					<input id="course_rating_<%= c.id %>" type="number" class="rating" min=0 max=5 readonly="true" value="<%= c.get_rating_average %>" data-size="xs"></p></a>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% #end %>
</div>

<%= javascript_tag do %>
	var ready;
	ready = function() {
	<% @populares.each do |c| %>
		$('#course_rating_<%= c.id %>').rating('refresh', {showClear: false, showCaption: false});
	<% end %>
	};

	$(document).ready(ready);
	$(document).on('page:load', ready);
<% end %>  