console.log("results: <%= @results %>;");

<% if @results.empty? %>
    $("#no-result").fadeIn();
<% else %>
    $("#no-result").hide();
<% end %>

// borro resultados anteriores
$(".list-group-item").remove();

<% @results.each do |c| %>

$("#resultados").append( "<a id=\"curso_<%= c.id %>\" href=\"courses/<%= c.id %>\" class= \"list-group-item \"><h4 class= \"list-group-item-heading \"><%= c.name %></h4><p class=\"list-group-item-text\"><%= c.description %></p></a>" );

    console.log("marker");
    map.addMarker({
      lat: <%= c.latitude %>,
      lng: <%= c.longitude %>,
      title: "<%= c.name %>",
      mouseover: function(e) {
        $("#curso_<%= c.id %>").toggleClass("active");
        setTimeout(function(){
           // toggle back after 1 second
           $("#curso_<%= c.id %>").toggleClass("active");
          },1000);
        }
      });

<% end %>

map.setCenter(<%= @search_address.latitude %>, <%=@search_address.longitude %>);
map.setZoom(12);