<!--  -34.6037232, -58.3815931 es BS AS -->
<div class="row">

	<div class="col-xs-12 col-sm-9 col-md-6 col-md-push-6 col-lg-5 col-lg-push-7">
		<div class="row">
			<div class="container-fluid container-search-form">
				<div class="row">
					<div class="col-md-3">
						<h4>Categoría</h4>
						<select id="category-select" data-width="100%" class="selectpicker" data-style="btn-primary">
							<%= options_from_collection_for_select(@categories, 'id', 'name') %>
						</select>
					</div>

					<div class="col-md-3">
						<h4>Subcategoría</h4>
						<select id="subcategory-select" data-width="100%" class="selectpicker" data-style="btn-primary">
							<%= options_from_collection_for_select(@subcategories, 'id', 'name') %>
						</select>
					</div>

					<div class="col-md-6">
						<h4>Dirección</h4>
						<input id="address" name="address" data-width="100%" type="text"  class="form-control" placeholder="Ingrese una dirección">
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
			          <h4>Mapa</h4>
			          <input id="map-button" type="checkbox" name="map-checkbox" checked>
					</div>

					<div class="col-md-3">
						<button id="buscar" type="button" class="btn btn-lg btn-primary">
							Buscar
						</button>
					</div>

					<div class="col-md-3">
						<button id="busqueda-avanzada" type="button" class="btn btn-lg btn-primary">
							Búsqueda avanzada
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="container-fluid container-search-result">
        <div class="list-group" id="resultados">
  				<div id="no-result" class="alert alert-danger alert-dismissable">
  					No se encontraron resultados que coincidan con la búsqueda.
  				</div>
  			</div>
      </div>
		</div>
	</div>

	<div class="hidden-xs col-sm-3 col-md-6 col-md-pull-6 col-lg-7 col-lg-pull-5 ">
		<div class="container-fluid container-map">
			<%= image_tag "college.png", size: "auto", id: "home_icon" %>
			<div id="home_map"></div>
		</div>
	</div>
</div>

<!-- estadisticas provisorias -->
<button id="btnModal" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
  Estadísticas
</button>
<%= render "welcome/stats" %>

<%= javascript_tag do %>

addressPicker = new AddressPicker();
$('#address').typeahead(null, {
	displayKey: 'description',
	source: addressPicker.ttAdapter()
});

var map;

$( document ).ready(function() {
	$('.selectpicker').selectpicker();
	$("#home_map").hide();
	$("#no-result").hide();

  $("[name='map-checkbox']").bootstrapSwitch({size: 'normal', onColor: 'success'});
});



$('input[name="map-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
  if (!state){
    $("#home_icon").fadeToggle( "fast", function() {
      $("#home_map").fadeToggle();

      if (!map){
        inicializarMapa();  
      }
    });
    
  } else {
    $("#home_map").fadeToggle( "fast", function() {   
      $("#home_icon").fadeToggle();
    });
  }
});

$('#category-select').change(function() {
	$.ajax({
		url: "/update_subcategories",
		data: {
			category_id : $('#category-select').val()
		},
		dataType: "script"
	});
});

$('#buscar').click(function() {
	console.log("address changed");
	$.ajax({
		url: "/decode_address",
		data: {
			address : $('#address').val()
		},
		dataType: "script"
	});
});

function inicializarMapa() {
  map = new GMaps({
            div: '#home_map',
            zoom: 8,
            width: '100%',
            height: '500px',
            lat: -34.6037232,
            lng: -58.3815931,
            styles: mapStyle
          });
  google.maps.event.trigger(map, "resize");
}
<% end %>