<%= bootstrap_form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">  
      <div class="field">
          <%= f.text_field :name %>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-4">     
      <div class="field">
        <%= f.text_area :description %>
      </div>
    </div>
  </div>    
  <div class="row">
    <div class="col-md-4">  
      <div class="field">
        <%= f.text_field :address %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"> 
      <%= f.collection_select(:subcategory_id, @subcategories, :id, :name, {:include_blank => "Please select"}) %>
    </div>  
  </div>
  <hr>
  <hr>
  <div class="row">
    <button type="submit" class="btn btn-primary">Crear</button>

<% end %>