<%= bootstrap_form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row ">
    <div class="col-md-4 ">  
      <div class="field" >
         <%= f.text_field :name, :required => true , :label => "Nombre del curso", :placeholder => "Nombre" %>
      </div>
    </div>
  </div> 
  <br>
  <div class="row">
    <div class="col-md-4 ">     
      <div class="field">
        <%= f.text_area :description, :label => "Descripción", :placeholder => "Descripción" %>
      </div>
    </div>
    <div class="col-md-4">  
      <%= f.text_field :address, :required => true , :label => "Dirección", :placeholder => "Dirección" ,:class => "required" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 ">
      <p class="control-label" >Categoría</p>
          <select id="category-select" class="form-control" >
              <%= options_from_collection_for_select(@categories, 'id', 'name') %>
          </select>
  
    </div>
    <div class="col-md-2">
       <%= f.collection_select(:subcategory_id, @subcategories, :id, :name, {:prompt   => "Seleccione una opción"}, {:id => 'subcategory-select' , :required => true } ) %>
    </div>

    <div class="col-md-4">
     <p class="control-label">Tags</p>
     <input type="text" class="form-control" id="tokenfield" name="selectedTags" value="<%= @course.tags.map{|a| a.name}.join(",") %>" />
    </div>
  </div>
  <div class="row">
  <div class="col-md-4">  
      <%= f.text_field :price, :label => "Precio", :placeholder => "Precio" %>
    </div>
  </div>  
  <hr>
  <hr>
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary">Crear</button>
  
<% end %>

<script type="text/javascript" >
    $('#category-select').change(function() {
      $.ajax({
        url:  "<%= update_subcategories_courses_path %>",
        data: {
          category_id : $('#category-select').val()
        },
        dataType: "script"
      });
    });
    $('#tokenfield').tokenfield({
        autocomplete: {
          source: <%= raw @posibleTags %>,
          delay: 100
        },
        showAutocompleteOnFocus: true
    });
</script>


