<%= bootstrap_form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row ">
    <div class="col-md-4 ">  
      <div class="field" >
          <%= f.text_field :name, :label => "Nombre del curso", :placeholder => "Nombre" ,:class => 'required'%>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-4 ">     
      <div class="field">
        <%= f.text_area :description, :label => "Descripción", :placeholder => "Descripción" %>
      </div>
    </div>
    <div class="col-md-4">  
      <p>
        <%= f.text_field :address, :label => "Dirección", :placeholder => "Dirección" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 ">
      <p>Categoría</p>
          <select id="category-select" class="form-control" >
              <%= options_from_collection_for_select(@categories, 'id', 'name') %>
          </select>
  
    </div>
    <div class="col-md-2">
       <%= f.collection_select(:subcategory_id, @subcategories, :id, :name, {:prompt   => "Seleccione una opción"}, {:id => 'subcategory-select'}) %>
    </div>

    <div class="col-md-4">
     <p>Tags</p>
     <input type="text" class="form-control" id="tokenfield" value="red,green,blue" />
    </div>
  </div>

  <hr>
  <hr>
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary">Crear</button>
  
<% end %>
