<h3><%= @course.name %> </h3>

<hr>
<%= render 'form' %>

<%= button_to 'Ver', @course , class: "btn btn-primary" , :method => :get %> 
<%= button_to 'Volver',courses_path , class: "btn btn-primary" , :method => :get %>
<hr>

<%= javascript_tag do %>

var addressPicker = new AddressPicker();
$('#course_address').typeahead(null, {
  displayKey: 'description',
  source: addressPicker.ttAdapter()
});
 
$(addressPicker).on('addresspicker:selected', function (event, result) {
  $('#your_lat_input').val(result.lat());
  $('#your_lng_input').val(result.lng());
  $('#your_city_input').val(result.nameForType('locality'));
});

<% end %>