<h1>Cursos</h1>

<hr>
<table class="table table-bordered table-hover table-condensed">
  <thead class="courseList">
    <tr>
      <th>Nombre </th>
      <th>Descripción </th>
      <th>Dirección </th>
      <th>Precio</th>      
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.address %></td>
        <td><%= course.price %></td>
        <td>
          <%= button_to course , class: "btn btn-primary btn-xs", :method => :get do %>
            <span class="glyphicon glyphicon-eye-open "></span>
          <% end %>
          <%= button_to edit_course_path(course) , class: "btn btn-primary btn-xs", :method => :get do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= button_to course ,class: "btn btn-danger btn-xs", method: :delete, data: {confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove"></span>
          <% end %>
         
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nuevo Curso', new_course_path , class: "btn btn-primary", :method => :get %>
<hr>

