<style>
  #course_map {
     display: block;
     height: 300px;
     width: 100%;
  }
</style>

<script type="text/javascript" >
  $( document ).ready(function() {
      $('.carousel').carousel();
     
});

</script>

<!-- Toque algo en bootstrap que hace que se vean feas las estrellas, asi que lo incluyo
de vuelta para que se vean lindas pisando la config que toque arriba :P 
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
-->
<hr>
<div class="row">
  <div class="col-md-4">
    <hr>  
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner"> <!-- All slides go inside .carousel-inner -->
        <div class="item active">
            <img src="http://sndt.ac.in/images/courses/courses-imgs.jpg"  width="400" height="300" alt="..." />
            <div class="carousel-caption">Primer imagen</div>
        </div>
        <div class="item">
            <img src="https://www.coleurope.eu/content/studyprogrammes/law/images/Students%20in%20a%20course.%20nb%20031.jpg"  width="400" height="300" alt="..." />
            <div class="carousel-caption">Segunda imagen</div>
        </div>
        <div class="item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNKieMWGkXrXpzTlOl8J04vlc7lrrWwPlmqk2cUlrhN5Btrq1Pnw"  width="400" height="300" alt="..." />
            <div class="carousel-caption">Tercer imagen</div>
        </div>
      </div>  
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <div class="col-md-5">
      <h1 ><%= @course.name %></h1>
      <hr>
      <p> Descripción: <%= @course.description %></p>
      <p> Dirección: <%= @course.address %></p>
      <p>Subcategoría: 
        <% if (@course.subcategory != nil) %>
          <%=h @course.subcategory.name %>
      </p>
      <p>Precio: <span class="glyphicon glyphicon-usd"></span> 100 </p>
      <p>Tags: 
        <% @course.tags.each do |t| %>
            <%= t.name %>
         <% end %> 
      </p>    
      <div class="basic" data-average="12" data-id="1"></div>

   <a class="btn btn-lg btn-success" href="../../components/#navbar" role="button">Inscribirme! &raquo;</a>
            
   <hr>     
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
          <div class="panel-body" id ="cursosRelacionados">
          <h4>Cursos que podrían interesarte </h4>
            <div class="list-group container-results" id="cursosRelacionados">
                 <% @cursosRelacionados.each do |c| %>
                    <a id="cursosRelacionados_<%= c.id %>" class="list-group-item list-group-item-info" href="/courses/<%= c.id %>" > 
                      <h4 class="list-group-item-heading"> <%= c.name %> </h4>
                      <p class="list-group-item-text"> <%= c.description %> </p>
                    </a>
                <% end %> 
            </div>    
          </div>
    </div>
  </div>
</div>
  <div class="row">
   <%= bootstrap_form_for [@course, Opinion.new] do |f| %>
    <div class="col-md-8 col-md-offset-1">
      <div class="panel panel-default container-opinions">
        <ul class="nav nav-tabs nav-justified" id="myTab">
         <li class="active"><a href="#Reseñas" data-toggle="tab">Reseñas</a></li>
        <li><a href="#Consultas" data-toggle="tab">Consultas</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Reseñas">
            <div class="panel-body" id ="listasReseñas">
              <h5>Danos tu opinión </h5>
              <div class="list-group container-results" id="listasReseñas">
                   <% @course.opinions.each do |o| %>
                      <a id="opinions_<%= o.id %>" class="list-group-item list-group-item-info" > 
                        <h4 class="list-group-item-heading"> 
                        <% unless o.user.nil? %>
                          <%= o.user.email %>
                        <% end %> 
                        </h4>
                        <p class="list-group-item-text"> <%= o.description %> </p>
                      </a>
                  <% end %> 
              </div>    
            </div>
            <div class="col-md-12 col-ms-offset-1" >
              <a id="newOpinion" class="list-group-item list-group-item-info" > 
                <h4 class="list-group-item-heading"> Dejanos tu comentario </h4>
                <p class="list-group-item-text">
                  <textarea class="form-control" id="opinion_description" name="opinion[description]" placeholder="Descripción"></textarea>
                  <br>
                  <button id="addOpinion" class="btn btn-primary col-md-offset-11" >Add</button> 
                </p>
             </a>
            </div>
          </div>
          <div class="tab-pane fade" id="Consultas">consultas</div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="col-md-3 ">     
      <div class="panel panel-default">    
         <div class="panel-body" id ="cursosRelacionados">
           <h4>Te recomendamos</h4>
            <div class="list-group container-results" id="cursosRelacionados">
                 <% @advertisings.each do |a| %>
                    <a id="advertising_<%= a.id %>" class="list-group-item list-group-item-info" href="/advertisings/<%= a.id %>" > 
                      <h4 class="list-group-item-heading"> <%= a.name %> </h4>
                      <p class="list-group-item-text"> <%= a.description %> </p>
                    </a>
                <% end %> 
            </div>
          </div>
      </div>
   </div>   
  </div>


<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<%= javascript_tag do %>
<% end %>  