<% content_for :head do %>
	<!-- Open Graph Metadata -->
	<meta property="fb:app_id" content=<%= Facebook::APP_ID%> />
	<meta property="og:title" content="<%= "Quiero Aprender - " + @course.name %>" />
	<meta property="og:site_name" content="Quiero Aprender" />
	<!--meta property="og:type" content="website" /-->
	<meta property="og:url" content="<%= request.original_url %>" />
	<meta property="og:image" content="http://sndt.ac.in/images/courses/courses-imgs.jpg" />
	<meta property="og:description" content="<%= @course.description %>" />
<% end %>

<style>
  #course_map {
     display: block;
     height: 300px;
     width: 100%;
  }
</style>

<!-- Carousel Photo Gallery Script -->
<script type="text/javascript" >
  $( document ).ready(function() {
      $('.carousel').carousel();
});
</script>

<!-- Toque algo en bootstrap que hace que se vean feas las estrellas, asi que lo incluyo
de vuelta para que se vean lindas pisando la config que toque arriba :P 
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
-->
<div class="row">
	<div class="col-md-4">
		<hr>
		<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<% if(@course.uploads.size() > 0) %>
				<div class="item active">
					<img src="<%= @course.uploads.first().upload %>" style="width:400px;height:300px;" />
					<div class="carousel-caption"><%= @course.name %></div>
				</div>
				<% @course.uploads.drop(1).each do |u| %>
					<div class="item ">
							<img src="<%= u.upload %>" style="width:400px;height:300px;" />
							<div class="carousel-caption"><%= @course.name %></div>
					</div>
				<% end %>
				<% else %>
					<div class="item active">
					<%= image_tag "college.png" , :size=>"300x400" %>
						<div class="carousel-caption"><%= @course.name %></div>
					</div>
				<% end %> 	
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
		<% if is_logued_teacher? %>
			<%= button_to 'Imagenes', upload_path(@course), class:"btn btn-primary", :method => :get %>
		<% end %>
	</div>
	<div class="col-md-5">
		<h1><%= @course.name %></h1>
		<% if is_logued_student_with_facebook_id? %>
		<h5 style="font-family:Helvetica; color:#3B5998">2 amigos ya hicieron este curso</h5>
		<% end%>
		<button role="button" class="btn btn-social btn-facebook" data-toggle="modal" data-target="#FbShareModal"><i class="fa fa-facebook"></i> | Compartir en Facebook</button>
		<!-- Facebook share modal view -->
		<div class="modal fade" id="FbShareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<%= bootstrap_form_tag url:fb_publish_wall_post_path do |f| %>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Comparte el curso con tus amigos de Facebook!</h4>
					</div>
					<div class="modal-body">
						<%= f.text_area 'message', value: 'Voy a hacer este curso, va a ser fantástico!', size: '10x8', hide_label: true%>
						<%= f.hidden_field 'attachment[name]', value:@course.name + ' - Quiero Aprender' %>
						<%= f.hidden_field 'attachment[link]', value:request.original_url %>
						<%= f.hidden_field 'attachment[description]', value:@course.description %>
						<%= f.hidden_field 'attachment[picture]', value:"http://sndt.ac.in/images/courses/courses-imgs.jpg" %>
					</div>
					<div class="modal-footer">
						<%= f.submit "Publicar", class: "btn btn-primary" %>
					</div>
				</div>
				<% end %> <!-- End Facebook share form -->
			</div>
		</div>
		<!-- End Facebook share modal view-->

		<hr>
		<p>
			<b>Descripción:</b> <%= @course.description %>
		</p>
		<p>
			<b>Dirección:</b> <%= @course.address %>
		</p>
		<p>
			<b>Subcategoría:</b>
			<% if (@course.subcategory != nil) %>
			<%= h @course.subcategory.name %>
		</p>
		<p>
			<b>Precio:</b> <span class="glyphicon glyphicon-usd"></span> <%= @course.price %>
		</p>
		<p>
			<b>Características:</b>
			<% @course.tags.each do |t| %>
				<%= t.name %>
			<% end %>
		</p>

		<div class="row">
			<div class="col-xs-4 ">
				<div class="basic" data-average="12" data-id="1"></div>
				<%= button_to 'Inscribirme!' , enroll_course_path(@course) , class: "btn btn-lg btn-success" , :method => :get  %>
			</div>			

			<div class="col-xs-3 ">
				<h4><b>Reviews: </b><%= Opinion.where("course_id = ?", @course.id).count	%></h4>
			</div>

			<div class="col-xs-5 ">
				<input id="course_rating" type="number" class="rating" min=0 max=5 readonly="true" data-container-class='text-right' value="<%= @rating_average %>" data-size='sm' >
			</div>

		</div>

	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body" id ="cursosRelacionados">
				<h4>Cursos que podrían interesarte </h4>
				<div class="list-group container-results" id="cursosRelacionados">
					<% @cursosRelacionados.each do |c| %>
					<a id="cursosRelacionados_<%= c.id %>" class="list-group-item list-group-item-info" href="/courses/<%= c.id %>" > <h4 class="list-group-item-heading"> <%= c.name %> </h4>
					<p class="list-group-item-text">
						<%= c.description %>
					</p> </a>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<div class="panel panel-default container-opinions">
			<ul class="nav nav-tabs nav-justified" id="myTab">
				<li class="active">
					<a href="#Reseñas" data-toggle="tab">Reseñas</a>
				</li>
				<li>
					<a href="#Consultas" data-toggle="tab">Consultas</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="Reseñas">
					<%= bootstrap_form_for [@course, Opinion.new] do |f| %>
					<div class="panel-body container-opinionsResults" id ="listasReseñas">
						<ul class="media-list ">
							<% @course.opinions.select{|op| not op.user.nil?}.each do |o| %>
							<li class="media">
								<div class="media-body">
									<h5 class="media-heading">
									<% if get_profile_picture_for_user o.user %>
										<a class="pull-left" href="#"> <img  class="media-object" src=<%= get_profile_picture_for_user o.user%>  width="64" height="64" alt="..." /> </a>
									<% else %>
										<a class="pull-left" href="#">
										<%= image_tag o.user.image , :size=>"64x64" %></a>
									<% end %>	
									<b><%= o.user.name %></b>
									<%= o.date %>
									</h5>
									<%= o.description %>
									<input id="opinion_<%= o.id %>" type="number" class="rating" min=0 max=5 readonly="true" data-container-class='text-right' value="<%= o.rating.nil? ? 0 : o.rating%>" data-size='xs' >
								</div>
							</li>
							<% end %>
						</ul>
					
					<% if current_user %>
						<div class="col-md-12 col-ms-offset-1" >
							<a id="newOpinion" class="list-group-item " > <h4 class="list-group-item-heading"> Dejanos tu comentario </h4>
							<p class="list-group-item-text">
								<textarea class="form-control" id="opinion_description" name="opinion[description]" placeholder="Descripción"></textarea>
								<br>
								<input id="opinion_rating" name="opinion[rating]" value="0" type="number" class="rating" min=0 max=5 step=1 data-size="xs" >
								<button id="addOpinion" class="btn btn-primary col-md-offset-11" >
									Add
								</button>

							</p> </a>

						</div>
					<% end %>
					<% end %>
					</div>
				</div>
				<div class="tab-pane fade" id="Consultas">

					<%= bootstrap_form_for [@course, Consultation.new] do |f| %>
					<div class="panel-body container-opinionsResults" id ="listaConsultas">
						<ul class="media-list ">
							<% @course.consultations.select{|consulta| not consulta.user.nil?}.each do |c| %>
							<% if(c.user.role == User::ROLE_TEACHER)  %>
								<li class="media list-group-item-success">
							<% else %>
							<li class="media">
								<% end %>
								<div class="media-body">
									<h5 class="media-heading"> 
									<% unless c.user.nil? %>
									<% if get_profile_picture_for_user c.user %>
										<a class="pull-left" href="#"> <img  class="media-object" src=<%= get_profile_picture_for_user c.user%>  width="64" height="64" alt="..." /> </a>
									<% else %>
										<a class="pull-left" href="#">
										<%= image_tag c.user.image , :size=>"64x64" %></a>
									<% end %>
									<% end %>
									</h5>
									<%= c.description %>
								</div>
							</li>
							<% end %>
						</ul>
					<div class="col-md-12 col-ms-offset-1" >
						<a id="newOpinion" class="list-group-item " > <h4 class="list-group-item-heading"> Preguntas </h4>
						<p class="list-group-item-text">
							<textarea class="form-control" id="consultation_description" name="consultation[description]" placeholder="Descripción"></textarea>
							<br>
							<button id="addOpinion" class="btn btn-primary col-md-offset-11" >
								Add
							</button>

						</p> </a>
					</div>
					</div>
					<% end %>
				</div>

			</div>
		</div>
	</div>
	<div class="col-md-3 ">
		<div class="panel panel-default">
			<div class="panel-body" id ="cursosRelacionados">
				<h4>Te recomendamos</h4>
				<div class="list-group container-results" id="cursosRelacionados">
					<% @advertisings.each do |a| %>
					<a id="advertising_<%= a.id %>" class="list-group-item list-group-item-success" href="/advertisings/<%= a.id %>" > <h4 class="list-group-item-heading"> <%= a.name %> </h4>
					<p class="list-group-item-text">
						<%= a.description %>
					</p> </a>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<% end %>

<% if is_logued_teacher? %>
<%= button_to 'Editar', edit_course_path(@course) , class: "btn btn-primary" , :method => :get %>
<% end %>	
<%= button_to 'Volver',courses_path , class: "btn btn-primary" , :method => :get %>
<hr>

<%= javascript_tag do %>
	var ready;
	ready = function() {
	<% @course.opinions.each do |o| %>
	    $('#opinion_<%= o.id %>').rating('refresh', {showClear: false, showCaption: false});
	<% end %>
	    $('#course_rating').rating('refresh', {showClear: false, showCaption: false});
	};

	$(document).ready(ready);
	$(document).on('page:load', ready);
<% end %>  