<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="page-header text-center">
				<h1><%= @plan.type_title %></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p style="font-size: 16px">
				<%= @plan.general_description %>
				<br/>
			</p>
			<h3>Nombre: <%= @plan.name %></h3>
			<h3>Precio: $<%= @plan.price %> por mes</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<% unless is_logued_teacher? %>
				<div class="panel panel-info" style="margin-top:30px; max-width:600px;">
					<div class="panel-heading">
						<h4 class="panel-title">Debe crear una cuenta de profesor para contratar el plan</h4>
					</div>
					<div class="panel-body">
						<%= link_to "Registrarse", "/newTeacher", class: "btn btn-lg btn-block btn-info" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>