<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to image_tag("college.png", :alt => "LGD-IT", :width => 60 , :heigth => 60), root_path, class: 'navbar-brand' %>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<%= render 'layouts/navigation_links' %>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
					<li>
					<% if current_user.student? %>
						<%= link_to current_user.name, "/students/#{current_user.id}" %>
					<% elsif current_user.teacher? %>
						<%= link_to current_user.name, "/teachers/#{current_user.id}" %>
					</li>
					<% end %>
					<li>
						<%= link_to "Salir", logout_url %>
					</li>
				<% else %>
					<li>
						<%= link_to "Ingrese", login_url %>
					</li>
				<% end %>		
			</ul>
		</div>
	</div>
</nav>
